
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.nav{
    background-color: rgb(77, 80, 83);
    max-height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-title{
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
}
li{
    margin: 10px;
    font-weight: inherit;
    }
.active{
    font-weight: bolder;
}
    a{
    text-decoration: none;
    color: white;
}

.btn{
    margin: 10px;
    background-color: mediumaquamarine;
    color: white;
    box-shadow: 2px 2px 2px black;
    
}